/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@font-face{
    font-family: "Roboto-Thin";
    src: url("../fonts/Roboto-Thin.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
/**************************************/

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

img{
    max-width: 100%;
    height: auto;
}

#UserIMG{
    width: inherit;
    height: 12%;
    top: 10%;
    position: fixed;
    text-align: center;
}

.UserPhoto{
    height: 100%;
    background-size: cover;
    display: inline;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    position: relative;
}

#NavBar{
    width: 100%;
    height: 8%;
    background-image: url('../img/general_background.png');
    background-repeat: repeat;
    top: 0%;
    position: fixed;
}

#CSidebar{
    width: 20%;
    left: 0%;
    height: inherit;
    position: fixed;
}

#SidebarIMG{
    height: 65%;
    top: 15%;
    left: 8%;
    position: relative;
}

#Title{
    width: 60%;
    left: 20%;
    height: inherit;
    position: fixed;
    text-align: center;
}

#Profile{
    height: 60%;
    top: 20%;
    position: relative;
}

#Close{
    width: 20%;
    left: 80%;
    height: inherit;
    position: fixed;
}

#CloseIMG{
    height: 50%;
    top: 25%;
    left: 50%;
    position: relative;
}

/*********************************************************************/


#UserProfileImage{
    position: fixed;
    text-align: center;
    top: 11.5%;
    width:  100%;
    height: 18%;
}

#UserProfileName{
    position: fixed;
    text-align: center;
    top: 27%;
    font-size: 2em;
    color: #323232;
    width: 100%;
    font-family: "Roboto-Thin";
}

#UserReceivedChallenges{
    left: 2.5%;
    width: 100%;
    position: fixed;
    height: 25%;
    top: 41%;
}

@media (orientation: portrait){
    #ReceivedChallengesText{
        position: relative;
        color: #323232;
        font-family: "Roboto-Thin";
        font-size: 1.5em;
        margin: 0;
    }
}

@media (orientation: landscape){
    #ReceivedChallengesText{
        position: relative;
        color: #323232;
        font-family: "Roboto-Thin";
        font-size: 1.5em;
        margin: 0;
        left: 30%;
    }
}

#ReceivedChallengesGraphic{
    position: relative;
    width: 100%;
    top: 5%;
    text-align: center;
}

#ReceivedData{
    position: relative;
    width: 100%;
    top: 5%;
    text-align: center;
}

#ReceivedCompleted{
    font-family: "Roboto-Thin";
    font-size: 1em;
    color: #92d050;
    margin: 0;
    position: relative;
    padding-right: 5%;
}

#ReceivedFailed{
    font-family: "Roboto-Thin";
    font-size: 1em;
    color: #ed2024;
    margin: 0;
    position: relative;
    padding-right: 5%;
}

#ReceivedSurrended{
    font-family: "Roboto-Thin";
    font-size: 1em;
    color: #2e75b6;
    margin: 0;
    position: relative;
}

#UserSentChallenges{
    width: 95%;
    left: 2.5%;
    position: fixed;
    height: 25%;
    top: 69%;
}

@media (orientation: portrait){
    #SentChallengesText{
        position: relative;
        color: #323232;
        font-family: "Roboto-Thin";
        font-size: 1.5em;
        margin: 0;
    }
}

@media (orientation: landscape){
    #SentChallengesText{
        position: relative;
        color: #323232;
        font-family: "Roboto-Thin";
        font-size: 1.5em;
        margin: 0;
        left: 30%;
    }
}

#SentChallengesGraphic{
    position: relative;
    width: 100%;
    top: 5%;
    text-align: center;
}

#SentData{
    position: relative;
    width: 100%;
    top: 5%;
    text-align: center;
}

#SentCompleted{
    font-family: "Roboto-Thin";
    font-size: 1em;
    color: #92d050;
    margin: 0;
    position: relative;
    padding-right: 5%;
}

#SentFailed{
    font-family: "Roboto-Thin";
    font-size: 1em;
    color: #ed2024;
    margin: 0;
    position: relative;
    padding-right: 5%;
}

#SentSurrended{
    font-family: "Roboto-Thin";
    font-size: 1em;
    color: #2e75b6;
    margin: 0;
    position: relative;
}
