/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@font-face{
    font-family: "Roboto-Thin";
    src: url("../fonts/Roboto-Thin.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Lobster";
    src: url("../fonts/Lobster.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
/**************************************/

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

img{
    max-width: 100%;
    height: auto;
}

#NavBar{
    width: 100%;
    height: 8%;
    background-image: url('../img/general_background.png');
    background-repeat: repeat;
    top: 0%;
    position: fixed;
}

#CSidebar{
    width: 20%;
    left: 0%;
    height: inherit;
    position: fixed;
}

#CSidebar:active{
    width: 20%;
    left: 0%;
    height: inherit;
    position: fixed;
    background-color: #a4cbff;
}

#SidebarIMG{
    height: 65%;
    top: 15%;
    left: 8%;
    position: relative;
}

#Title{
    width: 60%;
    left: 20%;
    height: inherit;
    position: fixed;
    text-align: center;
}

#SolveRiddle{
    height: 50%;
    top: 20%;
    position: relative;
}

#Close{
    width: 20%;
    left: 80%;
    height: inherit;
    position: fixed;
}

#CloseIMG{
    height: 50%;
    top: 25%;
    left: 50%;
    position: relative;
}

/*********************************************************************/

@media (orientation:portrait){
    #RiddleLogo{
        position: fixed;
        width: 25%;
        top: 15%;
        left: 37.5%;
    }

    #RiddleGrad{
        position: fixed;
        width: 20%;
        top: 34%;
        left: 40%;
    }

    #RiddleToSolve{
        font-family: "Roboto-Thin";
        color: #96c3ff;
        font-size: 1.5em;
        width: 80%;
        position: fixed;
        top: 45%;
        left: 10%;
        text-align: center;
    }

    #InputAnswer{
        width: 60%;
        position: fixed;
        top: 57%;
        left: 20%;
        border: 0;
        font-family: "Roboto-Thin";
        font-size: 1.5em;
        color: #85b9ff;
        border-bottom: 1px solid #85b9ff;
        border-left: 1px solid #85b9ff;
        text-align: center;
    }

    #AnswerButton{
        background-image: url("../img/general_background.png");
        font-family: "Roboto-Thin";
        color: white;
        border: 0;
        padding: 0;
        font-size: 1.3em;
        position: fixed;
        width: 24%;
        top: 65%;
        left: 57%;
        height: 5%;
    }

    #DescriptionText{
        width: 90%;
        color: #424242;
        font-family: "Roboto-Thin";
        font-size: 1em;
        top: 38%;
        left: 5%;
        text-align: center;
        position: fixed;
    }

    #GuessesText{
        width: 50%;
        color: #424242;
        font-family: "Roboto-Regular";
        font-size: 1em;
        top: 76%;
        left: 58%;
        position: fixed;
    }

    #GuessesRemainingNumber{
        color: #85b9ff;
        font-family: "Roboto-Regular";
        font-size: 5em;
        top: 72%;
        left: 67%;
        position: fixed;
    }
}

@media (orientation:landscape){
    #RiddleLogo{
        position: fixed;
        width: 8%;
        top: 15%;
        left: 46%;
    }

    #RiddleGrad{
        position: fixed;
        width: 5%;
        top: 34%;
        left: 47.5%;
    }

    #RiddleToSolve{
        font-family: "Roboto-Thin";
        color: #96c3ff;
        font-size: 1.5em;
        width: 80%;
        position: fixed;
        top: 41%;
        left: 10%;
        text-align: center;
    }

    #InputAnswer{
        width: 30%;
        position: fixed;
        top: 52%;
        left: 35%;
        border: 0;
        font-family: "Roboto-Thin";
        font-size: 1.5em;
        color: #85b9ff;
        border-bottom: 1px solid #85b9ff;
        border-left: 1px solid #85b9ff;
        text-align: center;
    }

    #AnswerButton{
        background-image: url("../img/general_background.png");
        font-family: "Roboto-Thin";
        color: white;
        border: 0;
        padding: 0;
        font-size: 1.3em;
        position: fixed;
        width: 10%;
        top: 60%;
        left: 55%;
        height: 5%;
    }

    #DescriptionText{
        width: 40%;
        color: #424242;
        font-family: "Roboto-Thin";
        font-size: 1.3em;
        top: 80%;
        left: 35%;
        position: fixed;
    }

    #GuessesText{
        width: 50%;
        color: #424242;
        font-family: "Roboto-Regular";
        font-size: 1em;
        top: 76%;
        left: 58%;
        position: fixed;
    }

    #GuessesRemainingNumber{
        color: #85b9ff;
        font-family: "Roboto-Regular";
        font-size: 5em;
        top: 72%;
        left: 61%;
        position: fixed;
    }
}

#IconTable{
    position: absolute;
    width: 100%;
    top: 11%;
    text-align: center;
    font-family: "Lobster";
    font-size: 1.5em;
    color: #88baff;
}

#CreateChallengeDiv{
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
}

#CreateButton{
    width: 100%;
    height: 100%;
    border: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #88baff;
    font-family: "Roboto-Thin";
    font-size: 1.5em;
    color: white;
    position: relative;
}